flows.json
[{"id":"e30e56f9.ff63c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dc1ad0d8.e2dd68","type":"subflow","name":"Run python","info":"","category":"advanced","in":[{"x":260,"y":340,"wires":[{"id":"75ea1f11.11117"}]}],"out":[{"x":1400,"y":240,"wires":[{"id":"1dca3317.aeb6cd","port":0}]},{"x":1400,"y":300,"wires":[{"id":"1dca3317.aeb6cd","port":1}]},{"x":1400,"y":360,"wires":[{"id":"1dca3317.aeb6cd","port":2}]}],"env":[],"icon":"node-red/arrow-in.png","status":{"x":1400,"y":500,"wires":[{"id":"a85e08ed.7a08b8","port":0},{"id":"ec4dd079.2fe338","port":0}]}},{"id":"e7792218.79d24","type":"subflow","name":"Split train test","info":"","category":"","in":[{"x":20,"y":160,"wires":[{"id":"4cf12ca1.0609a4"}]}],"out":[{"x":800,"y":80,"wires":[{"id":"4760e23.50d7c1c","port":0}]},{"x":800,"y":240,"wires":[{"id":"4760e23.50d7c1c","port":1}]}],"env":[{"name":"split","type":"num","value":"0.5"}],"inputLabels":["Dataset"],"outputLabels":["Train records","Test records"]},{"id":"2becb4e0.c285ac","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6a371582.aed594","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"176173c1.f5cc54","type":"ui_group","z":"","name":"Default","tab":"6a371582.aed594","disp":true,"width":"6","collapse":false},{"id":"332c079c.e22c5","type":"ui_group","z":"","name":"Control","tab":"8a355039.9aae28","disp":true,"width":"6","collapse":false},{"id":"8a355039.9aae28","type":"ui_tab","z":"","name":"MYhome","icon":"dashboard"},{"id":"1240855b.b9364b","type":"template","z":"e30e56f9.ff63c8","name":"python code","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"import time\nimport tensorflow\na = [\"t\\\"es\\\\t\", 233, 1]\ntime.sleep(1)\nprint(a[0], 5)\n","output":"str","x":570,"y":300,"wires":[["47c00617.ddf108"]]},{"id":"758800f7.ed8dd8","type":"debug","z":"e30e56f9.ff63c8","name":"STD OUT","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1210,"y":280,"wires":[]},{"id":"387f18e3.fec1b","type":"inject","z":"e30e56f9.ff63c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":300,"wires":[["1240855b.b9364b"]]},{"id":"b6558ff1.43e838","type":"debug","z":"e30e56f9.ff63c8","name":"STDError","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1210,"y":380,"wires":[]},{"id":"de2c6aad.9f4798","type":"debug","z":"e30e56f9.ff63c8","name":"Code","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1200,"y":460,"wires":[]},{"id":"80f4be30.9085f","type":"http in","z":"e30e56f9.ff63c8","name":"Test","url":"/aaa","method":"get","upload":false,"swaggerDoc":"","x":310,"y":420,"wires":[["760e30eb.ba3728"]]},{"id":"760e30eb.ba3728","type":"http response","z":"e30e56f9.ff63c8","name":"Test","statusCode":"200","headers":{},"x":590,"y":440,"wires":[]},{"id":"1dca3317.aeb6cd","type":"exec","z":"dc1ad0d8.e2dd68","command":"python3 -c","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Run python code","x":630,"y":340,"wires":[["8009762e.7b7c88"],[],["edc79108.210888"]]},{"id":"75ea1f11.11117","type":"function","z":"dc1ad0d8.e2dd68","name":"Escape string","func":"payload = msg.payload\n          .split('\\\\').join('\\\\\\\\')\n          .split('\"').join('\\\\\"');\nreturn {\n    payload: '\"' + payload + '\"'\n};","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["1dca3317.aeb6cd","a85e08ed.7a08b8"]]},{"id":"47c00617.ddf108","type":"subflow:dc1ad0d8.e2dd68","z":"e30e56f9.ff63c8","name":"Run Python","env":[],"x":810,"y":300,"wires":[["758800f7.ed8dd8"],["b6558ff1.43e838"],["de2c6aad.9f4798"]]},{"id":"a85e08ed.7a08b8","type":"template","z":"dc1ad0d8.e2dd68","name":"Running status","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Running...","output":"str","x":640,"y":500,"wires":[[]]},{"id":"ec4dd079.2fe338","type":"function","z":"dc1ad0d8.e2dd68","name":"","func":"var res = {\n    payload: 'Error: ' + msg.payload.code\n}\nif (msg.payload.code === 0)\n    res.payload = msg.payload.status;\nreturn res;","outputs":1,"noerr":0,"x":1250,"y":440,"wires":[[]]},{"id":"edc79108.210888","type":"join","z":"dc1ad0d8.e2dd68","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"payload.","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":440,"wires":[["ec4dd079.2fe338"]]},{"id":"8009762e.7b7c88","type":"template","z":"dc1ad0d8.e2dd68","name":"Done status","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{ \"status\": \"Success!\" }","output":"json","x":870,"y":440,"wires":[["edc79108.210888"]]},{"id":"b6e4ae75.ef6508","type":"deep neural network classifier tensorflow","z":"e30e56f9.ff63c8","name":"","savePath":"","saveName":"","layers":"","learningRate":"","steps":"","batchSize":"","x":380,"y":720,"wires":[[],[]]},{"id":"9ce9a860.ca8e1","type":"http request","z":"e30e56f9.ff63c8","name":"iris.data","method":"GET","ret":"txt","paytoqs":false,"url":"https://raw.githubusercontent.com/GabrieleMaurina/node-red-contrib-machine-learning/master/test/iris.data","tls":"","proxy":"","authType":"basic","x":540,"y":860,"wires":[["eaad2540.d9edb8"]]},{"id":"bba9dab5.09d36","type":"inject","z":"e30e56f9.ff63c8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":860,"wires":[["9ce9a860.ca8e1"]]},{"id":"accadb2c.b1c2","type":"split","z":"e30e56f9.ff63c8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":770,"y":920,"wires":[["822c7b82.077ee8"]]},{"id":"81ff04d1.9db658","type":"debug","z":"e30e56f9.ff63c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1410,"y":940,"wires":[]},{"id":"4760e23.50d7c1c","type":"switch","z":"e7792218.79d24","name":"Train test split","property":"records % \t$parseInteger(\t    $string(1 / $number(split)),\t    '0'\t)","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":620,"y":160,"wires":[[],[]]},{"id":"9d73a5f8.bdbc48","type":"debug","z":"e30e56f9.ff63c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1410,"y":900,"wires":[]},{"id":"4ba5c626.049c28","type":"subflow:e7792218.79d24","z":"e30e56f9.ff63c8","name":"","env":[{"name":"split","type":"num","value":"0.1"}],"x":1160,"y":920,"wires":[["9d73a5f8.bdbc48"],["81ff04d1.9db658"]]},{"id":"4cf12ca1.0609a4","type":"function","z":"e7792218.79d24","name":"Store split","func":"var split = msg.split || env.get('split');\nflow.set('split', split);\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":160,"wires":[["a9a72189.b1ac"]]},{"id":"a9a72189.b1ac","type":"function","z":"e7792218.79d24","name":"Store nr of records","func":"var records = parseInt(flow.get('records') || 0);\nvar split = parseFloat(flow.get('split'));\nflow.set('records', records + 1);\nmsg.records = records;\nmsg.split = split;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["4760e23.50d7c1c"]]},{"id":"822c7b82.077ee8","type":"csv","z":"e30e56f9.ff63c8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"a,b,c,d,e,f","skip":"0","x":930,"y":920,"wires":[["4ba5c626.049c28"]]},{"id":"eaad2540.d9edb8","type":"file","z":"e30e56f9.ff63c8","name":"store iris.data","filename":"iris.data","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":710,"y":860,"wires":[[]]},{"id":"eb42df23.b5596","type":"file in","z":"e30e56f9.ff63c8","name":"Load iris.data","filename":"iris.data","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":920,"wires":[["accadb2c.b1c2"]]},{"id":"b8fae857.f1e3c8","type":"inject","z":"e30e56f9.ff63c8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":390,"y":920,"wires":[["eb42df23.b5596"]]}]