flows_v2.json
[{"id":"6b6290b0.1a853","type":"tab","label":"Data collection flow","disabled":false,"info":""},{"id":"e3e29167.088cf8","type":"tab","label":"NN Modeling flow","disabled":false,"info":""},{"id":"1136490a.a15807","type":"tab","label":"Evaluation of models flow","disabled":false,"info":""},{"id":"a1965b52.69fd78","type":"subflow","name":"Run python","info":"","category":"advanced","in":[{"x":260,"y":340,"wires":[{"id":"7da2c01a.3148a"}]}],"out":[{"x":1400,"y":240,"wires":[{"id":"96a96097.a2d28","port":0}]},{"x":1400,"y":300,"wires":[{"id":"96a96097.a2d28","port":1}]},{"x":1400,"y":360,"wires":[{"id":"96a96097.a2d28","port":2}]}],"env":[],"icon":"node-red/arrow-in.png","status":{"x":1400,"y":500,"wires":[{"id":"18c2265b.811b52","port":0},{"id":"d485d24e.5e8c98","port":0}]}},{"id":"d1cb7ae0.934918","type":"subflow","name":"Split train test","info":"","category":"","in":[{"x":20,"y":160,"wires":[{"id":"61006046.23f13"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"aecf787b.d15a38","port":0}]},{"x":640,"y":240,"wires":[{"id":"aecf787b.d15a38","port":1}]}],"env":[{"name":"ratio","type":"str","value":"1:1"},{"name":"random","type":"bool","value":"true"}],"inputLabels":["Dataset"],"outputLabels":["Train records","Test records"]},{"id":"f6d4da8d.2deed8","type":"subflow","name":"IRIS Data preprocessing","info":"","category":"neural-network-subflow","in":[{"x":200,"y":120,"wires":[{"id":"1931990b.ba9e37"}]}],"out":[{"x":1500,"y":220,"wires":[{"id":"4e0c7f64.dd0c7","port":0}]},{"x":1500,"y":340,"wires":[{"id":"3ccadbfa.e6cf74","port":0}]},{"x":1500,"y":460,"wires":[{"id":"aa65b2b7.16cf38","port":0}]}],"env":[],"inputLabels":["Trigger"],"outputLabels":["Train data","Test data","Validation Data"],"icon":"font-awesome/fa-database","status":{"x":1680,"y":540,"wires":[{"id":"445738f.c38d6c8","port":0}]}},{"id":"fbd114ef.b5abb8","type":"subflow","name":"Construct NN layers for IRIS","info":"","category":"neural-network-subflow","in":[{"x":20,"y":80,"wires":[{"id":"6b04c308.fea9ec"}]}],"out":[{"x":1680,"y":80,"wires":[{"id":"86000a0b.367fc8","port":0}]}],"env":[],"inputLabels":["Trigger input"],"outputLabels":["Model id of the constructed model"],"icon":"font-awesome/fa-archive","status":{"x":1680,"y":180,"wires":[{"id":"4739df6a.4741f","port":0}]}},{"id":"9212f77a.6e3f4","type":"subflow","name":"Train IRIS model","info":"","category":"neural-network-subflow","in":[{"x":60,"y":80,"wires":[{"id":"ff9a0199.decd4"}]}],"out":[{"x":1420,"y":80,"wires":[{"id":"c39afae8.d82cf8","port":0}]}],"env":[],"inputLabels":["modelId"],"outputLabels":["modelId together with accuracy of the validation"],"icon":"node-red/cog.png","status":{"x":1420,"y":200,"wires":[{"id":"f2f44d74.ad72a","port":0}]}},{"id":"1777bb00.010975","type":"subflow","name":"Model dashboard","info":"","category":"dashboard","in":[{"x":60,"y":660,"wires":[{"id":"e6dc9418.8f9638"},{"id":"2cd37f1c.40ae2"},{"id":"3c9c46f.d74c5ba"}]}],"out":[{"x":1680,"y":400,"wires":[{"id":"63f9953a.36396c","port":0}]},{"x":1700,"y":1160,"wires":[{"id":"6472d8e4.609828","port":0}]}],"env":[],"inputLabels":["Evaluation data"],"outputLabels":["Load model action","View dataset action"],"icon":"font-awesome/fa-television"},{"id":"524deb7f.0b2fbc","type":"subflow","name":"Dataset meta information","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"2df85ce4.e252ec"}]}],"out":[{"x":900,"y":140,"wires":[{"id":"8ac98420.3321f8","port":0}]}],"env":[]},{"id":"1aa75980.0bd64f","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0e741b","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#0e741b","edited":true},"page-titlebar-backgroundColor":{"value":"#0e741b","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#16b82b","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0e741b","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Machine learning overview","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"99bf0fda.6ac7d","type":"ui_tab","z":"","name":"Training","icon":"fa-tripadvisor","order":3,"disabled":false,"hidden":false},{"id":"72829ecd.caa568","type":"ui_group","z":"","name":"Training epochs","tab":"99bf0fda.6ac7d","order":3,"disp":true,"width":"12","collapse":false},{"id":"2c8034f0.0682a4","type":"ui_group","z":"","name":"Model Evaluation","tab":"99bf0fda.6ac7d","order":4,"disp":true,"width":"12","collapse":false},{"id":"ae19d163.945098","type":"ui_tab","z":"","name":"Data overview","icon":"fa-database","order":2,"disabled":false,"hidden":false},{"id":"204b4daf.75747a","type":"ui_group","z":"","name":"Datasource versions","tab":"ae19d163.945098","order":1,"disp":true,"width":"7","collapse":false},{"id":"7872e5c.f152c1c","type":"ui_group","z":"","name":"Training datasets","tab":"ae19d163.945098","order":2,"disp":true,"width":"7","collapse":false},{"id":"5b54f152.aed92","type":"ui_group","z":"","name":"Testing datasets","tab":"ae19d163.945098","order":2,"disp":true,"width":"7","collapse":false},{"id":"fbf8d3c2.ce17f","type":"ui_group","z":"","name":"Available models","tab":"99bf0fda.6ac7d","order":1,"disp":true,"width":"4","collapse":true},{"id":"68e77f6a.128f1","type":"ui_spacer","name":"spacer","group":"72829ecd.caa568","order":2,"width":1,"height":"2"},{"id":"c6bd7ad.116d288","type":"ui_group","z":"","name":"Validation datasets","tab":"ae19d163.945098","order":4,"disp":true,"width":"7","collapse":false},{"id":"a0e3d641.64ac9","type":"ui_group","z":"","name":"Dataset (top 10 samples)","tab":"ae19d163.945098","order":5,"disp":true,"width":"28","collapse":false},{"id":"16e8d9be.b05f96","type":"ui_group","z":"","name":"Dataset statistics","tab":"ae19d163.945098","order":6,"disp":true,"width":"28","collapse":false},{"id":"21a445e8.0f8b8a","type":"ui_spacer","name":"spacer","group":"16e8d9be.b05f96","order":6,"width":1,"height":1},{"id":"50f09d94.32225c","type":"template","z":"e3e29167.088cf8","name":"python code","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"import tensorflow as tf\nimport numpy as np\nimport time\n\n\nIRIS_TRAINING = \"train.iris.data\"\nIRIS_TEST = \"test.iris.data\"\n\n\n\ndef parse_csv(line):\n    data = tf.decode_csv(line, record_defaults=[[]] * 7)\n    return tf.stack(data[:4]), data[5:]    \n\n\ntraining_iterator = tf.data.TextLineDataset(IRIS_TRAINING).map(parse_csv).shuffle(200).repeat().batch(\n    32).make_one_shot_iterator()\nvalidation_iterator = tf.data.TextLineDataset(IRIS_TEST).map(parse_csv).shuffle(200).repeat().batch(\n    32).make_one_shot_iterator()\n\nhandle = tf.placeholder(tf.string, shape=[])\nx, y_ = tf.data.Iterator.from_string_handle(handle, training_iterator.output_types, training_iterator.output_shapes).get_next()\n\n\na1 = tf.layers.dense(x, 10, activation=tf.nn.relu)\na2 = tf.layers.dense(a1, 20, activation=tf.nn.relu)\na3 = tf.layers.dense(a2, 10, activation=tf.nn.relu)\ny = tf.layers.dense(a3, 3, activation=tf.nn.softmax)\n\n\nloss = tf.losses.softmax_cross_entropy(tf.one_hot(y_, 3), y)\ntrain_op = tf.train.AdamOptimizer(0.001).minimize(loss, global_step=tf.train.get_or_create_global_step())\n\n\npredictions = tf.argmax(y, 1, name=\"predictions\")\ncorrect_prediction = tf.equal(y_, predictions)\naccuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))\ncm = tf.confusion_matrix(y_, predictions)\n\n\n\nwith tf.Session() as sess:\n    tf.global_variables_initializer().run()\n\n    training_handle = sess.run(training_iterator.string_handle())\n    validation_handle = sess.run(validation_iterator.string_handle())\n\n    for n in range(401):\n        if n % 50 == 0:\n            acc, c = sess.run([accuracy, cm], feed_dict={handle: validation_handle})\n            print(c, acc)\n        else:\n            _ = sess.run(train_op, feed_dict={handle: training_handle})\nprint(\"Done!\")\n","output":"str","x":530,"y":620,"wires":[["a2f187ca.8a0c78"]]},{"id":"3224e192.a78996","type":"debug","z":"e3e29167.088cf8","name":"STD OUT","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1350,"y":600,"wires":[]},{"id":"98915cf6.10cd98","type":"inject","z":"e3e29167.088cf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":620,"wires":[["50f09d94.32225c"]]},{"id":"2daa741b.9746b4","type":"debug","z":"e3e29167.088cf8","name":"STDError","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1170,"y":700,"wires":[]},{"id":"bc519b02.efc4f8","type":"debug","z":"e3e29167.088cf8","name":"Code","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1160,"y":780,"wires":[]},{"id":"96a96097.a2d28","type":"exec","z":"a1965b52.69fd78","command":"python3 -c","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Run python code","x":630,"y":340,"wires":[["1e2fbed2.7500f9"],[],["c9d19c2f.9bc298"]]},{"id":"7da2c01a.3148a","type":"function","z":"a1965b52.69fd78","name":"Escape string","func":"payload = msg.payload\n          .split('\\\\').join('\\\\\\\\')\n          .split('\"').join('\\\\\"');\nreturn {\n    payload: '\"' + payload + '\"'\n};","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["96a96097.a2d28","18c2265b.811b52"]]},{"id":"a2f187ca.8a0c78","type":"subflow:a1965b52.69fd78","z":"e3e29167.088cf8","name":"Run Python","env":[],"x":770,"y":620,"wires":[["f8bc9a70.8d817"],["2daa741b.9746b4"],["bc519b02.efc4f8"]]},{"id":"18c2265b.811b52","type":"template","z":"a1965b52.69fd78","name":"Running status","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Running...","output":"str","x":640,"y":500,"wires":[[]]},{"id":"d485d24e.5e8c98","type":"function","z":"a1965b52.69fd78","name":"","func":"var res = {\n    payload: 'Error: ' + msg.payload.code\n}\nif (msg.payload.code === 0)\n    res.payload = msg.payload.status;\nreturn res;","outputs":1,"noerr":0,"x":1250,"y":440,"wires":[[]]},{"id":"c9d19c2f.9bc298","type":"join","z":"a1965b52.69fd78","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"payload.","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":440,"wires":[["d485d24e.5e8c98"]]},{"id":"1e2fbed2.7500f9","type":"template","z":"a1965b52.69fd78","name":"Done status","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{ \"status\": \"Success!\" }","output":"json","x":870,"y":440,"wires":[["c9d19c2f.9bc298"]]},{"id":"6a0dc694.30a1e","type":"subflow:d1cb7ae0.934918","z":"f6d4da8d.2deed8","name":"","env":[{"name":"ratio","type":"str","value":"3:1"}],"x":620,"y":280,"wires":[["4e0c7f64.dd0c7"],["14e221f6.9f278e"]]},{"id":"61006046.23f13","type":"function","z":"d1cb7ae0.934918","name":"Store ratio","func":"var ratio = msg.ratio || env.get('ratio');\nflow.set('ratio', ratio.split(':').map(r => parseInt(r)));\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":160,"wires":[["aecf787b.d15a38"]]},{"id":"aecf787b.d15a38","type":"function","z":"d1cb7ae0.934918","name":"Split message","func":"var records = parseInt(flow.get('records') || 0);\nvar ratio = flow.get('ratio');\nvar random = env.get('random');\nvar series = flow.get('series') || ratio;\nvar takenSeries = [];\nif (!series.find(s => s > 0)) series = ratio;\nvar msgs = [...series].map(() => null);\nfor (var i = 0; i < series.length; i++) {\n    let j = i;\n    if (random) {\n        j = parseInt(Math.random() * series.length);\n        while(takenSeries.indexOf(j) !== -1)\n            j = parseInt(Math.random() * series.length);\n    }\n    takenSeries.push(j);\n    if (series[j] > 0) {\n        series[j]--;\n        msgs[j] = msg;\n        break;\n    }\n}\nif (msg.eof) {\n    return msgs.map(m => m || {\n        ...msg,\n        payload: '',\n        eof: true\n    });\n}\nflow.set('series', series);\nreturn msgs;","outputs":2,"noerr":0,"x":380,"y":160,"wires":[[],[]]},{"id":"45ba2014.97d038","type":"inject","z":"e3e29167.088cf8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":250,"y":100,"wires":[["c084096d.f96b5"]]},{"id":"769341f0.bc40d8","type":"stream-read-file","z":"f6d4da8d.2deed8","name":"load iris.data stream","filename":"datasets/iris.data","ignoreTopNLines":"1","maxLines":"","ignoreBlankLines":true,"x":980,"y":120,"wires":[["fb70a7d4.d1e958"]]},{"id":"4e0c7f64.dd0c7","type":"stream-write-file","z":"f6d4da8d.2deed8","name":"store train.iris.data stream","filename":"datasets/train.iris.data","heading":"","ignoreBlankLines":true,"x":980,"y":260,"wires":[["4aa4a6df.6756f8"]]},{"id":"3ccadbfa.e6cf74","type":"stream-write-file","z":"f6d4da8d.2deed8","name":"store test.iris.data stream","filename":"datasets/test.iris.data","heading":"","ignoreBlankLines":true,"x":990,"y":320,"wires":[["4aa4a6df.6756f8"]]},{"id":"86000a0b.367fc8","type":"compile-model","z":"fbd114ef.b5abb8","name":"","loss":"categoricalCrossentropy","optimizer":"adam","metrics":["accuracy"],"x":1240,"y":80,"wires":[["f539d255.b39958"]]},{"id":"c39afae8.d82cf8","type":"fit-model","z":"9212f77a.6e3f4","name":"","xs":["Petal length","Petal width","Sepal length","Sepal width"],"ys":["Iris-setosa","Iris-versicolor","Iris-virginica"],"batchSize":5,"batchesPerEpoch":15,"epochs":50,"x":1260,"y":80,"wires":[[]]},{"id":"95b8bdc4.22c9b","type":"inject","z":"e3e29167.088cf8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":250,"y":200,"wires":[["cc93c7d2.38a64"]]},{"id":"705f6e4a.434da","type":"debug","z":"e3e29167.088cf8","name":"Accuracy of the validated model","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"{\t   \"val_acc\": $round(payload.history.val_acc[\t       $count(payload.history.val_acc)-1\t    ], 2),\t   \"acc\": $round(payload.history.acc[\t       $count(payload.history.acc)-1\t\t   ], 2),\t   \"val_loss\": $round(payload.history.val_loss[\t       $count(payload.history.val_loss)-1\t\t   ], 2),\t   \"loss\": $round(payload.history.loss[\t       $count(payload.history.loss)-1\t\t   ], 2),\t   \"modelId\": modelId,\t   \"history\": payload.history\t}","targetType":"jsonata","x":910,"y":260,"wires":[]},{"id":"18364714.f91a49","type":"dense-layer","z":"fbd114ef.b5abb8","name":"Input-layer","inputShape":4,"activation":"sigmoid","units":30,"x":450,"y":80,"wires":[["ffbe5cb5.6e78d"]]},{"id":"be326383.7e033","type":"stream-read-file","z":"9212f77a.6e3f4","name":"train.iris.data stream","filename":"datasets/train.iris.data","ignoreTopNLines":"1","maxLines":"","ignoreBlankLines":true,"x":440,"y":80,"wires":[["bb538753.06b298"]]},{"id":"adbee3d9.05f86","type":"link out","z":"e3e29167.088cf8","name":"model-compiled","links":["37f3a0ea.064df"],"x":795,"y":200,"wires":[]},{"id":"37f3a0ea.064df","type":"link in","z":"e3e29167.088cf8","name":"train-model","links":["adbee3d9.05f86"],"x":195,"y":280,"wires":[["2723c5f7.de929a"]]},{"id":"bb538753.06b298","type":"csv","z":"9212f77a.6e3f4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"Petal length,Petal width,Sepal length,Sepal width,Iris-setosa,Iris-versicolor,Iris-virginica","skip":"0","x":650,"y":80,"wires":[["54a129ab.8d1a58"]]},{"id":"877f561f.bb50b8","type":"stream-read-file","z":"9212f77a.6e3f4","name":"test.iris.data stream","filename":"datasets/test.iris.data","ignoreTopNLines":"1","maxLines":"","ignoreBlankLines":true,"x":440,"y":120,"wires":[["5b7fed13.45b824"]]},{"id":"5b7fed13.45b824","type":"csv","z":"9212f77a.6e3f4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"Petal length,Petal width,Sepal length,Sepal width,Iris-setosa,Iris-versicolor,Iris-virginica","skip":"0","x":650,"y":120,"wires":[["8c0a846c.0ef288"]]},{"id":"8c0a846c.0ef288","type":"function","z":"9212f77a.6e3f4","name":"Test topic","func":"msg.topic = 'val';\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":120,"wires":[["c39afae8.d82cf8"]]},{"id":"54a129ab.8d1a58","type":"function","z":"9212f77a.6e3f4","name":"Train topic","func":"msg.topic = 'train';\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":80,"wires":[["c39afae8.d82cf8"]]},{"id":"ff9a0199.decd4","type":"function","z":"9212f77a.6e3f4","name":"Repeater","func":"const times = 50;\nconst repeat = (t) => {\n    if (t <= 0) return;\n    node.send(msg);\n    setTimeout(() => repeat(t-1), 100);\n}\nrepeat(times)\nreturn null;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["be326383.7e033","877f561f.bb50b8"]]},{"id":"c5ec8458.82f078","type":"debug","z":"e3e29167.088cf8","name":"Test data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1020,"y":100,"wires":[]},{"id":"6ae3d12e.142788","type":"debug","z":"e3e29167.088cf8","name":"Train data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":60,"wires":[]},{"id":"fb70a7d4.d1e958","type":"function","z":"f6d4da8d.2deed8","name":"Numeric to one hot","func":"const csvLine = msg.payload.split(',');\nconst label = csvLine[csvLine.length-1];\nconst labels = flow.get('unique-labels');\nconst labelCount = labels.length;\n\nfor (var i = 0; i < labelCount; i++) {\n    const onezero = 0 + (labels.indexOf(label) === i);\n    if (i === 0) {\n        csvLine[csvLine.length-1] = (onezero);\n    } else {\n        csvLine.push((onezero));\n    }\n}\nmsg.labels = labels;\nmsg.payload = csvLine.join(',');\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":120,"wires":[["766b9adb.eaf624"]]},{"id":"1931990b.ba9e37","type":"file in","z":"f6d4da8d.2deed8","name":"load iris.meta","filename":"datasets/iris.meta","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":120,"wires":[["97a875aa.b008"]]},{"id":"768d2d24.1ed34c","type":"function","z":"f6d4da8d.2deed8","name":"Store distinct labels","func":"const labels = Object.keys(msg.payload.labels);\nconst featureNames = msg.payload.features.map(f => f.name).filter(f => f !== 'species');\nflow.set('unique-labels', labels);\nmsg.payload = featureNames.concat(labels);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":120,"wires":[["769341f0.bc40d8","ea652365.cca22"]]},{"id":"47b5e372.35a6fc","type":"dense-layer","z":"fbd114ef.b5abb8","name":"Hidden-layer-1","activation":"relu","units":30,"x":820,"y":80,"wires":[["44170f92.6b20e"]]},{"id":"a61eb500.c57b58","type":"link out","z":"e3e29167.088cf8","name":"model-trained","links":["9dc9bc28.1e9ea","4f072a51.0559fc"],"x":795,"y":360,"wires":[]},{"id":"9dc9bc28.1e9ea","type":"link in","z":"e3e29167.088cf8","name":"predict-model","links":["a61eb500.c57b58"],"x":195,"y":420,"wires":[["3e228b40.032f5c"]]},{"id":"f8bc9a70.8d817","type":"json","z":"e3e29167.088cf8","name":"","property":"payload","action":"","pretty":false,"x":970,"y":600,"wires":[["3224e192.a78996"]]},{"id":"c084096d.f96b5","type":"subflow:f6d4da8d.2deed8","z":"e3e29167.088cf8","name":"","env":[],"x":530,"y":100,"wires":[["6ae3d12e.142788","fec59e5e.ce8938"],["c5ec8458.82f078","fec59e5e.ce8938"],["9e2bf26.7863c9","fec59e5e.ce8938"]]},{"id":"2723c5f7.de929a","type":"subflow:9212f77a.6e3f4","z":"e3e29167.088cf8","name":"","env":[],"x":560,"y":280,"wires":[["705f6e4a.434da","a61eb500.c57b58"]]},{"id":"8fbe60fe.09d2e8","type":"comment","z":"e3e29167.088cf8","name":"TODO","info":"## NN nodes\n - ~~Create training overview page~~\n   - ~~Loss & accuracy plot~~\n   - ~~Confusion matrix~~\n   - ~~Demo predictions~~\n   - ~~List available models~~\n - (Create variable inputs for NN nodes)\n - ~~Separate train and test data~~\n - ~~Make stream-read-file node~~\n - ~~Make stream-write-file node~~\n - ~~Make dense-layer node~~\n - ~~Make compile-model node~~\n - ~~Make sequential node~~\n - ~~Make predictor NN node~~\n - ~~Make store model node~~\n - ~~Store evaluation data for model~~\n - ~~Make test/validation batch size different from train sizes~~\n - ~~Make list models node~~\n - ~~Add status messages while training / preprocessing the data~~\n \n## Presentation\n - Make several instances of nodered environment (docker-containers)\n\n## Documentation\n - Make description of stream-read-file node\n - Make description of stream-write-file node\n - Make description of dense-layer node\n - Make description of compile-model node\n - Make description of fit-model node\n - Make description of sequential node\n - Make description of predict node","x":1590,"y":100,"wires":[]},{"id":"cc93c7d2.38a64","type":"subflow:fbd114ef.b5abb8","z":"e3e29167.088cf8","name":"","env":[],"x":520,"y":200,"wires":[["adbee3d9.05f86"]]},{"id":"6b04c308.fea9ec","type":"sequential-network","z":"fbd114ef.b5abb8","name":"","x":190,"y":80,"wires":[["18364714.f91a49"]]},{"id":"44170f92.6b20e","type":"dense-layer","z":"fbd114ef.b5abb8","name":"Output-layer","activation":"softmax","units":3,"x":1030,"y":80,"wires":[["86000a0b.367fc8"]]},{"id":"f2f44d74.ad72a","type":"status","z":"9212f77a.6e3f4","name":"fit-model status","scope":["c39afae8.d82cf8"],"x":1280,"y":200,"wires":[[]]},{"id":"4739df6a.4741f","type":"status","z":"fbd114ef.b5abb8","name":"","scope":["f539d255.b39958"],"x":1540,"y":180,"wires":[[]]},{"id":"f539d255.b39958","type":"function","z":"fbd114ef.b5abb8","name":"Status complete","func":"node.status({\n    \"fill\": \"green\",\n    \"shape\": \"dot\",\n    \"text\": \"NN Model constructed\"\n});","outputs":1,"noerr":0,"x":1520,"y":140,"wires":[[]]},{"id":"766b9adb.eaf624","type":"link out","z":"f6d4da8d.2deed8","name":"","links":["2080b706.42f87"],"x":1475,"y":120,"wires":[]},{"id":"2080b706.42f87","type":"link in","z":"f6d4da8d.2deed8","name":"","links":["766b9adb.eaf624"],"x":195,"y":280,"wires":[["dbcc40a8.2999","30f7f3e4.84f204"]]},{"id":"8515068c.d958e","type":"function","z":"f6d4da8d.2deed8","name":"complete status","func":"const inst = flow.get('instances');\nflow.set('instances', 0);\nnode.status({\n    \"fill\": \"green\",\n    \"shape\": \"dot\",\n    \"text\": inst + \" instances processed!\"\n});","outputs":1,"noerr":0,"x":1500,"y":540,"wires":[[]]},{"id":"445738f.c38d6c8","type":"status","z":"f6d4da8d.2deed8","name":"","scope":["8515068c.d958e","dbcc40a8.2999"],"x":1520,"y":580,"wires":[[]]},{"id":"dbcc40a8.2999","type":"function","z":"f6d4da8d.2deed8","name":"process status","func":"const inst = flow.get('instances') || 0;\nflow.set('instances', 1 + inst)\n\nnode.status({\n    \"fill\": \"yellow\",\n    \"shape\": \"dot\",\n    \"text\": (inst + 1) + \" instances processed...\"\n});\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":380,"wires":[[]]},{"id":"c5491b52.26284","type":"join","z":"f6d4da8d.2deed8","name":"wait for all streams to finnish","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1240,"y":540,"wires":[["8515068c.d958e"]]},{"id":"30341259.a5c506","type":"ui_chart","z":"1777bb00.010975","name":"accuracy chart","group":"72829ecd.caa568","order":1,"width":0,"height":0,"label":"accuracy chart","chartType":"line","legend":"true","xformat":"ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ff7f0e","#ffb571","#0080c0","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":480,"wires":[[]]},{"id":"5bc2763f.121c98","type":"template","z":"1777bb00.010975","name":"plot accuracy graph data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n    {\n        \"series\": [\n            \"Validation Accuracy\",\n            \"Accuracy\"\n        ],\n        \"data\": [\n            [\n                {{payload.history.val_acc}}\n            ],\n            [\n                {{payload.history.acc}}\n            ]\n        ],\n        \"labels\": [\n            {{payload.epoch}}\n        ]\n    }\n]","output":"json","x":630,"y":480,"wires":[["30341259.a5c506"]]},{"id":"46146652.f742d8","type":"template","z":"1777bb00.010975","name":"plot loss graph data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n    {\n        \"series\": [\n            \"Validation Loss\",\n            \"Loss\"\n        ],\n        \"data\": [\n            [\n                {{payload.history.val_loss}}\n            ],\n            [\n                {{payload.history.loss}}\n            ]\n        ],\n        \"labels\": [\n            {{payload.epoch}}\n        ]\n    }\n]","output":"json","x":620,"y":520,"wires":[["3ef0552d.be2452"]]},{"id":"3ef0552d.be2452","type":"ui_chart","z":"1777bb00.010975","name":"loss chart","group":"72829ecd.caa568","order":3,"width":0,"height":0,"label":"loss chart","chartType":"line","legend":"true","xformat":"ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":520,"wires":[[]]},{"id":"4fe81154.a2f98","type":"ui_template","z":"1777bb00.010975","group":"2c8034f0.0682a4","name":"Confusion matrix","order":3,"width":"12","height":"5","format":"<div>\n    <h2>Confusion matrix</h2>\n    <table style=\"width: 100%;\">\n        <tr>\n            <td></td>\n            <td ng-repeat=\"(val, c) in msg.payload.labels track by $index\">\n                {{val}}\n            </td>\n        </tr>\n        <tr ng-repeat=\"row in msg.payload.confusionMatrix track by $index\"  ng-init=\"rowIndex = $index\">\n            <td ng-if=\"$index === rowIndex\" ng-repeat=\"(val, c) in msg.payload.labels track by $index\">{{val}}</td>\n            <td ng-repeat=\"col in row track by $index\"\n                ng-style=\"{'padding': '10px', 'background-color': 'rgba(0, ' + (255 * col / (msg.payload.classes.length / msg.payload.labels.length)) + ', 0, ' + (col / msg.payload.classes.length) + ')'}\">\n                {{col}}\n            </td>\n        </tr>\n    </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":600,"wires":[[]]},{"id":"98120366.ef1f38","type":"ui_gauge","z":"1777bb00.010975","name":"","group":"2c8034f0.0682a4","order":2,"width":"0","height":"0","gtype":"gage","title":"Validation Accuracy","label":"","format":"{{value | number:2}} %","min":0,"max":"1","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1130,"y":560,"wires":[]},{"id":"563c1c8.2f64b64","type":"function","z":"1777bb00.010975","name":"Get current val accuracy","func":"// const val_accs = msg.payload.history.val_acc;\nconst value = msg.payload.accuracy; // || val_accs[val_accs.length-1];\nif (value !== undefined) {\n    msg.payload = value;\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["98120366.ef1f38"]]},{"id":"e6dc9418.8f9638","type":"function","z":"1777bb00.010975","name":"UI Separator","func":"const msgData = [\n    'name',\n    ['history', 'epoch'],\n    'accuracy',\n    ['confusionMatrix', 'labels'],\n    ['samples', 'labels'],\n    ['dataset', 'features'],\n    ['dataset', 'labels'],\n    'dataset'\n];\n\nreturn msgData.map((attrs) => {\n    if (attrs instanceof Array) {\n        const filteredAttr = attrs.filter(attr => {\n            const exists = msg.payload[attr] !== undefined;\n            if (exists) {\n                context.set(attr, msg.payload[attr]);\n            } else {\n                msg.payload[attr] = context.get(attr);\n            }\n            return msg.payload[attr] !== undefined;\n        });\n        if (filteredAttr.length === attrs.length) {\n            return msg;\n        }\n    } else if (msg.payload[attrs] !== undefined) {\n        return msg;\n    }\n    return null;\n});","outputs":8,"noerr":0,"x":310,"y":720,"wires":[["79923d86.629fc4","afe37866.f567c8","55c8a7bd.012c48"],["46146652.f742d8","5bc2763f.121c98"],["563c1c8.2f64b64"],["4fe81154.a2f98"],["1d796ff7.7d741"],["6217e4fd.d76f2c"],["fcbeeab3.6858e8","52db8b58.153f74"],["9a023c06.5624","5de7914f.d44e9","6dd31469.8abd0c","711d9ea5.f0d188"]],"inputLabels":["UI data input"],"outputLabels":["Model name heading (name string)","Graph data (history object)","Validation Accuracy (accuracy float)","Confusion matrix data (confusionMatrix object)","Sample data (samples object)","Feature statistics (feature object)","Labels statistics (labels object)","Dataset name (dataset string)"]},{"id":"3db1a995.57b536","type":"comment","z":"e3e29167.088cf8","name":"Model training process","info":" - Data preprocessing\n   - format data labels to one hot vectors\n   - Split dataset into train and test sets\n   - Visualize the data on UI dashboard: http://10.15.1.134:1881/ui\n - Neural network compilation\n   - Create a sequence model\n   - Add neural network layers to the model\n   - Compile model with optimizer and metrics\n - Train network model\n   - Stream test and train datasets into the compiled model\n   - Iterate the data through several epochs to let the network weights converge\n   - Evaluate the result and send it as output\n   - Visualize the result on UI dashboard: http://10.15.1.134:1881/ui\n - Build a python model with code to compare with\n   - The python code is doing the same thing as the nodes in this flow","x":280,"y":60,"wires":[]},{"id":"3e228b40.032f5c","type":"save-model","z":"e3e29167.088cf8","name":"","filename":"models/test50epochs","modelId":"","x":370,"y":420,"wires":[["962a6d05.050f1","22eedf66.fa6088"]]},{"id":"962a6d05.050f1","type":"debug","z":"e3e29167.088cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":630,"y":420,"wires":[]},{"id":"122def67.8255f1","type":"http request","z":"6b6290b0.1a853","name":"iris.data","method":"GET","ret":"txt","paytoqs":false,"url":"https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv","tls":"","proxy":"","authType":"basic","x":280,"y":140,"wires":[["95a6a970.7a5a3"]]},{"id":"75e19619.e7c948","type":"inject","z":"6b6290b0.1a853","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["122def67.8255f1"]]},{"id":"95150de6.1d79b","type":"file","z":"6b6290b0.1a853","name":"store iris.data","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":700,"y":140,"wires":[["6b58fb43.5cd0cc"]]},{"id":"9d96b0fb.272","type":"function","z":"524deb7f.0b2fbc","name":"count distinct","func":"const records = msg.payload;\nconst labels = {};\nrecords.forEach(r => {\n    if (r['species']) {\n        labels[r['species']] = (labels[r['species']] || 0) + 1;\n    }\n    if (r['setosa']) {\n        labels['setosa'] = (labels['setosa'] || 0) + 1;\n    }\n    if (r['versicolor']) {\n        labels['versicolor'] = (labels['versicolor'] || 0) + 1;\n    }\n    if (r['virginica']) {\n        labels['virginica'] = (labels['virginica'] || 0) + 1;\n    }\n});\nmsg.labels = labels;\nmsg.payload = { labels }; // Object.keys(distinct).join('\\n');\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":80,"wires":[["8ac98420.3321f8"]],"inputLabels":["store data"],"outputLabels":["store data"]},{"id":"cd987483.6cca98","type":"comment","z":"6b6290b0.1a853","name":"Fetch iris data as sample data","info":"This flow fetches iris data from a git repository (through https)\n","x":180,"y":100,"wires":[]},{"id":"2a4ed24a.934ede","type":"predict","z":"1136490a.a15807","name":"","x":780,"y":540,"wires":[["ea5c430f.abc28"]]},{"id":"47d9a8f9.fa8268","type":"function","z":"1136490a.a15807","name":"Make prediction data","func":"const data = [\n    [5.9,3.0,5.1,1.8], // <- should be 1 (e.g [0,1,0])\n    [5.9,3.0,1.1,0]\n];\nmsg.modelId = msg.modelId || 'f691f474.9a2378';\nfor (var i = 0; i < data.length; i++) {\n    msg.payload = data[i];\n    node.send(msg);\n}","outputs":1,"noerr":0,"x":590,"y":540,"wires":[["2a4ed24a.934ede"]]},{"id":"ea5c430f.abc28","type":"debug","z":"1136490a.a15807","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":540,"wires":[]},{"id":"7cda97a3.417ab8","type":"inject","z":"1136490a.a15807","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":110,"y":540,"wires":[["c336b36a.b83cf"]]},{"id":"daaa1498.7e6cb8","type":"load-model","z":"1136490a.a15807","name":"","filename":"","modelId":"test50epochs","x":750,"y":160,"wires":[["d54e887.3bcf278","617611c6.86bc3","e643da56.275ba8"]]},{"id":"93c9fe6b.de92b","type":"inject","z":"1136490a.a15807","name":"","topic":"","payload":"models/test50epochs","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":140,"y":160,"wires":[["87bd8eb0.8cabc"]]},{"id":"d54e887.3bcf278","type":"stream-read-file","z":"1136490a.a15807","name":"","filename":"datasets/val.iris.data","ignoreTopNLines":"","maxLines":"","ignoreBlankLines":true,"x":1000,"y":40,"wires":[["6f967ce8.dbc974"]]},{"id":"6f967ce8.dbc974","type":"function","z":"1136490a.a15807","name":"Make prediction data","func":"\nif (msg.lineNr === 0) {\n    msg.payload = msg.payload.split(',');\n    flow.set('heading', msg.payload);\n} else {\n    const data = msg.payload.split(',').map(v => parseFloat(v));\n    const y = data.slice(data.length-3, data.length);\n    const x = data.slice(0, data.length-3);\n    msg.modelId = msg.modelId || 'f691f474.9a2378';\n    \n    msg.payload = x;\n    msg.y = y;\n    msg.trueClass = y.indexOf(1);\n    return msg;\n}","outputs":1,"noerr":0,"x":1220,"y":40,"wires":[["ccdf3573.6ac368"]]},{"id":"ccdf3573.6ac368","type":"predict","z":"1136490a.a15807","name":"","x":1430,"y":40,"wires":[["c9bdab49.8970d8"]]},{"id":"c33e4e41.66501","type":"subflow:1777bb00.010975","z":"1136490a.a15807","name":"","env":[],"x":470,"y":220,"wires":[["b7882666.e7e208","daaa1498.7e6cb8"],["ed93d16e.a75cf8"]]},{"id":"91fa0c00.4bc688","type":"link out","z":"1136490a.a15807","name":"Model Predictions","links":["5b04766a.ecbff8"],"x":1835,"y":160,"wires":[]},{"id":"c9bdab49.8970d8","type":"function","z":"1136490a.a15807","name":"Collect predictions","func":"const n = msg.payload.prediction.length;\nconst confusionMatrix = context.get('confusion-matrix') || Array(n).fill(0).map(a => Array(n).fill(0));\nconst samples = context.get('samples') || [];\n\nconst label = {\n    actual: msg.trueClass,\n    pred: msg.payload.class\n};\nsamples.push({\n    feature: msg.payload.feature,\n    label\n});\nconfusionMatrix[label.actual][label.pred] += 1;\nif (msg.eof) {\n    const heading = flow.get('heading');\n    const featureHeading = heading.slice(0, samples[0].feature.length);\n    const labelHeading = {\n        actual: \"Actual species\",\n        pred: \"Predicted species\"\n    }; // heading.slice(samples[0].feature.length, heading.length);\n    const sampleHeading = {\n        feature: featureHeading,\n        label: labelHeading\n    };\n    msg.payload = {\n        confusionMatrix,\n        samples: [sampleHeading].concat(samples),\n        accuracy: samples.filter(s => s.label.actual === s.label.pred).length / samples.length\n    };\n    context.set('samples', null);\n    context.set('confusion-matrix', null);\n    return msg;\n} else {\n    context.set('samples', samples);\n    context.set('confusion-matrix', confusionMatrix);\n}","outputs":1,"noerr":0,"x":1630,"y":40,"wires":[["91fa0c00.4bc688"]]},{"id":"e643da56.275ba8","type":"file in","z":"1136490a.a15807","name":"","filename":"datasets/val.iris.meta","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1020,"y":100,"wires":[["51629325.67fd9c"]]},{"id":"617611c6.86bc3","type":"function","z":"1136490a.a15807","name":"Set model name","func":"msg.payload = {\n    ...(msg.payload || {}),\n    name: msg.filename || msg.modelId\n};\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":160,"wires":[["91fa0c00.4bc688"]]},{"id":"afe37866.f567c8","type":"glob","z":"1777bb00.010975","name":"","pattern":"models/*","x":580,"y":380,"wires":[["dc5e2226.b377e8"]]},{"id":"c336b36a.b83cf","type":"load-model","z":"1136490a.a15807","name":"","filename":"models/test50epochs","modelId":"test50epochs","x":310,"y":540,"wires":[["47d9a8f9.fa8268"]]},{"id":"5b04766a.ecbff8","type":"link in","z":"1136490a.a15807","name":"Make fInal Evaluation","links":["11bde4d6.cbcc0b","70be765e.be25b8","91fa0c00.4bc688","34c1c110.053d2e"],"x":295,"y":220,"wires":[["c33e4e41.66501"]]},{"id":"55c8a7bd.012c48","type":"list-models","z":"1777bb00.010975","name":"","x":590,"y":340,"wires":[[]]},{"id":"eca10a06.d149b8","type":"ui_template","z":"1777bb00.010975","group":"fbf8d3c2.ce17f","name":"List buttons","order":2,"width":"4","height":"15","format":"<div style=\"margin: -3px -6px;\">\n    <div ng-repeat=\"v in msg.payload.models track by $index\">\n        <md-button ng-click=\"send({filename: v});\" style=\"width: 100%; margin: 0;border-radius: 0;\" ng-class=\"{'md-primary': v === msg.payload.name}\">\n            {{v.substring(v.lastIndexOf('/'), v.length)}}\n        </md-button>\n    </div>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1110,"y":400,"wires":[["63f9953a.36396c"]]},{"id":"b7882666.e7e208","type":"debug","z":"1136490a.a15807","name":"Model  chosen","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":220,"wires":[]},{"id":"63f9953a.36396c","type":"function","z":"1777bb00.010975","name":"","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":400,"wires":[[]]},{"id":"87bd8eb0.8cabc","type":"function","z":"1136490a.a15807","name":"Payload to filename","func":"const filename = msg.payload || msg.filename || context.get('evaluationModelName') || 'test';\ncontext.set('evaluationModelName', filename);\nreturn {\n  filename\n};","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["daaa1498.7e6cb8"]]},{"id":"8ec6c176.58a7d","type":"ui_template","z":"1777bb00.010975","group":"fbf8d3c2.ce17f","name":"List buttons","order":2,"width":"1","height":"1","format":"<div style=\"margin: -3px -6px;\">\n    <div ng-repeat=\"v in msg.payload track by $index\">\n        <md-button ng-click=\"send({ modelId: v });\" style=\"width: 100%; margin: 0;border-radius: 0;\">\n            {{v}}\n        </md-button>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1110,"y":360,"wires":[[]]},{"id":"aa400236.9a9b4","type":"comment","z":"1777bb00.010975","name":"Evaluation dashboard","info":"Depending on `UI separator` we will update parts of the dashboard view\n - If `name` is present we will update the list of models and the active model\n - If the model training/validation `history` is present we will update the accuracy and the loss plots\n - If `accuracy` value is present we will update the accuracy meter\n - If `confusionMatrix` is present we will update the confusion matrix\n - If `samples` is present we will update the datatable containing predictions of individual samples\n","x":620,"y":300,"wires":[]},{"id":"1ccd71f6.051fae","type":"comment","z":"1777bb00.010975","name":"Data dashboard","info":"Depending on `UI separator` we will update parts of the dashboard view\n - If `dataset` is present we will populate the given dataset into a UI group table\n - If `labels` is present we will plot label statistics\n - If `features` is present we will plot feature statistics","x":600,"y":760,"wires":[]},{"id":"1d796ff7.7d741","type":"ui_template","z":"1777bb00.010975","group":"2c8034f0.0682a4","name":"Data table","order":1,"width":"12","height":"4","format":"\n<table>\n    <tr ng-repeat=\"sample in msg.payload.samples\">\n      <td ng-repeat=\"feature in sample.feature\">\n        {{feature}}\n      </td>\n      <td>\n        {{msg.payload.labels[sample.label.actual] || sample.label.actual}}\n      </td>\n      <td>\n        {{msg.payload.labels[sample.label.pred] || sample.label.pred}}\n      </td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":590,"y":640,"wires":[[]]},{"id":"952a9f7a.95f7f","type":"join","z":"1777bb00.010975","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":400,"wires":[["eca10a06.d149b8"]]},{"id":"dc5e2226.b377e8","type":"function","z":"1777bb00.010975","name":"","func":"msg.payload = {\n    models: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["952a9f7a.95f7f"]]},{"id":"79923d86.629fc4","type":"function","z":"1777bb00.010975","name":"","func":"msg.payload = {\n    name: msg.payload.name\n};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["952a9f7a.95f7f"]]},{"id":"aa65b2b7.16cf38","type":"stream-write-file","z":"f6d4da8d.2deed8","name":"store val.iris.data stream","filename":"datasets/val.iris.data","heading":"","ignoreBlankLines":true,"x":990,"y":380,"wires":[["3184cf1b.aad328"]]},{"id":"14e221f6.9f278e","type":"subflow:d1cb7ae0.934918","z":"f6d4da8d.2deed8","name":"","env":[],"x":640,"y":340,"wires":[["3ccadbfa.e6cf74"],["aa65b2b7.16cf38"]]},{"id":"9e2bf26.7863c9","type":"debug","z":"e3e29167.088cf8","name":"Validation data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":140,"wires":[]},{"id":"2cd37f1c.40ae2","type":"glob","z":"1777bb00.010975","name":"","pattern":"datasets/!(train|test|val)*.data","x":650,"y":1160,"wires":[["4322bc13.9bba4c"]]},{"id":"8971de75.b4b39","type":"ui_template","z":"1777bb00.010975","group":"204b4daf.75747a","name":"Dataset versions","order":1,"width":"7","height":"5","format":"<div style=\"margin: -3px -6px;\">\n    <div ng-repeat=\"v in msg.payload.datasets track by $index\">\n        <md-button ng-click=\"send({dataset: v});\" style=\"width: 100%; margin: 0;border-radius: 0;\" ng-class=\"{'md-primary': v === msg.payload.dataset}\">\n            {{v.substring(v.lastIndexOf('/'), v.length)}}\n        </md-button>\n    </div>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1130,"y":1160,"wires":[["6472d8e4.609828"]]},{"id":"dde350ae.d0bc4","type":"ui_template","z":"1777bb00.010975","group":"a0e3d641.64ac9","name":"Data table","order":1,"width":"28","height":"6","format":"\n<table style=\"width:100%;\">\n    <tr ng-repeat=\"sample in msg.payload\">\n      <td ng-repeat=\"feature in sample\">\n        {{feature}}\n      </td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1290,"y":920,"wires":[[]]},{"id":"e7f1b082.d35cc8","type":"csv","z":"1777bb00.010975","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":1130,"y":920,"wires":[["dde350ae.d0bc4"]]},{"id":"9a023c06.5624","type":"function","z":"1777bb00.010975","name":"","func":"msg.filename = msg.payload.dataset;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":920,"wires":[["9c63d0f8.4202c"]]},{"id":"34c1c110.053d2e","type":"link out","z":"1136490a.a15807","name":"Dataset requested by UI","links":["5b04766a.ecbff8"],"x":1155,"y":280,"wires":[]},{"id":"6472d8e4.609828","type":"function","z":"1777bb00.010975","name":"","func":"const m = {\n    payload: {\n        dataset: msg.dataset\n    },\n    dataset: msg.dataset\n};\nreturn m;","outputs":1,"noerr":0,"x":1590,"y":1160,"wires":[[]]},{"id":"4322bc13.9bba4c","type":"function","z":"1777bb00.010975","name":"","func":"let m = {\n    payload: {\n        datasets: msg.payload || [],\n        dataset: msg.dataset\n    }\n};\nif (m.payload.datasets.length > 0) {\n    context.set('datasets', m.payload.datasets);\n}\nelse {\n    m.payload.datasets = context.get('datasets');\n}\nreturn m;","outputs":1,"noerr":0,"x":950,"y":1160,"wires":[["8971de75.b4b39"]]},{"id":"b83d515d.a82428","type":"glob","z":"1777bb00.010975","name":"","pattern":"","x":810,"y":1040,"wires":[["d4d4758d.2115c"]]},{"id":"b9d9a15e.b18c38","type":"ui_template","z":"1777bb00.010975","group":"7872e5c.f152c1c","name":"Train datasets","order":1,"width":"7","height":"5","format":"<div style=\"margin: -3px -6px;\">\n    <div ng-repeat=\"v in msg.payload.datasets track by $index\">\n        <md-button ng-click=\"send({dataset: v});\" style=\"width: 100%; margin: 0;border-radius: 0;\" ng-class=\"{'md-primary': v === msg.payload.dataset}\">\n            {{v.substring(v.lastIndexOf('/'), v.length)}}\n        </md-button>\n    </div>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1120,"y":1040,"wires":[["6472d8e4.609828"]]},{"id":"d4d4758d.2115c","type":"function","z":"1777bb00.010975","name":"","func":"let m = {\n    payload: {\n        datasets: msg.payload || [],\n        dataset: msg.dataset\n    }\n};\nif (m.payload.datasets.length > 0) {\n    context.set('datasets', m.payload.datasets);\n}\nelse {\n    m.payload.datasets = context.get('datasets');\n}\nreturn m;","outputs":1,"noerr":0,"x":950,"y":1040,"wires":[["b9d9a15e.b18c38"]]},{"id":"33d20ef8.239ac2","type":"glob","z":"1777bb00.010975","name":"","pattern":"","x":810,"y":1080,"wires":[["659d7381.21688c"]]},{"id":"17673bad.cf834c","type":"ui_template","z":"1777bb00.010975","group":"5b54f152.aed92","name":"Test datasets","order":1,"width":"7","height":"5","format":"<div style=\"margin: -3px -6px;\">\n    <div ng-repeat=\"v in msg.payload.datasets track by $index\">\n        <md-button ng-click=\"send({dataset: v});\" style=\"width: 100%; margin: 0;border-radius: 0;\" ng-class=\"{'md-primary': v === msg.payload.dataset}\">\n            {{v.substring(v.lastIndexOf('/'), v.length)}}\n        </md-button>\n    </div>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1120,"y":1080,"wires":[["6472d8e4.609828"]]},{"id":"659d7381.21688c","type":"function","z":"1777bb00.010975","name":"","func":"let m = {\n    payload: {\n        datasets: msg.payload || [],\n        dataset: msg.dataset\n    }\n};\nif (m.payload.datasets.length > 0) {\n    context.set('datasets', m.payload.datasets);\n}\nelse {\n    m.payload.datasets = context.get('datasets');\n}\nreturn m;","outputs":1,"noerr":0,"x":950,"y":1080,"wires":[["17673bad.cf834c"]]},{"id":"5c1cc3d6.3d88dc","type":"glob","z":"1777bb00.010975","name":"","pattern":"","x":810,"y":1120,"wires":[["99c001be.3e6a2"]]},{"id":"a2743442.e47bb","type":"ui_template","z":"1777bb00.010975","group":"c6bd7ad.116d288","name":"Validation datasets","order":1,"width":"7","height":"5","format":"<div style=\"margin: -3px -6px;\">\n    <div ng-repeat=\"v in msg.payload.datasets track by $index\">\n        <md-button ng-click=\"send({dataset: v});\" style=\"width: 100%; margin: 0;border-radius: 0;\" ng-class=\"{'md-primary': v === msg.payload.dataset}\">\n            {{v.substring(v.lastIndexOf('/'), v.length)}}\n        </md-button>\n    </div>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1130,"y":1120,"wires":[["6472d8e4.609828"]]},{"id":"99c001be.3e6a2","type":"function","z":"1777bb00.010975","name":"","func":"let m = {\n    payload: {\n        datasets: msg.payload || [],\n        dataset: msg.dataset\n    }\n};\nif (m.payload.datasets.length > 0) {\n    context.set('datasets', m.payload.datasets);\n}\nelse {\n    m.payload.datasets = context.get('datasets');\n}\nreturn m;","outputs":1,"noerr":0,"x":950,"y":1120,"wires":[["a2743442.e47bb"]]},{"id":"5de7914f.d44e9","type":"function","z":"1777bb00.010975","name":"datasets/train.*.data","func":"const dataset = msg.payload.dataset.split('/');\nconst file = dataset[dataset.length-1];\nconst type = 'train.';\nif (!file.startsWith(type)) {\n    dataset[dataset.length-1] = type + file;\n}\nlet m = {\n    payload: {\n        pattern: dataset.join('/')\n    },\n    dataset: msg.dataset\n};\nreturn m;","outputs":1,"noerr":0,"x":620,"y":1040,"wires":[["b83d515d.a82428"]]},{"id":"6dd31469.8abd0c","type":"function","z":"1777bb00.010975","name":"datasets/test.*.data","func":"const dataset = msg.payload.dataset.split('/');\nconst file = dataset[dataset.length-1];\nconst type = 'test.';\nif (!file.startsWith(type)) {\n    dataset[dataset.length-1] = type + file;\n}\nlet m = {\n    payload: {\n        pattern: dataset.join('/')\n    },\n    dataset: msg.dataset\n};\nreturn m;","outputs":1,"noerr":0,"x":610,"y":1080,"wires":[["33d20ef8.239ac2"]]},{"id":"711d9ea5.f0d188","type":"function","z":"1777bb00.010975","name":"datasets/val.*.data","func":"const dataset = msg.payload.dataset.split('/');\nconst file = dataset[dataset.length-1];\nconst type = 'val.';\nif (!file.startsWith(type)) {\n    dataset[dataset.length-1] = type + file;\n}\nlet m = {\n    payload: {\n        pattern: dataset.join('/')\n    },\n    dataset: msg.dataset\n};\nreturn m;","outputs":1,"noerr":0,"x":610,"y":1120,"wires":[["5c1cc3d6.3d88dc"]]},{"id":"9c63d0f8.4202c","type":"stream-read-file","z":"1777bb00.010975","name":"Read dataset file","filename":"","ignoreTopNLines":0,"maxLines":"150","ignoreBlankLines":true,"x":750,"y":920,"wires":[["1f57e162.92ac6f"]]},{"id":"1f57e162.92ac6f","type":"function","z":"1777bb00.010975","name":"Collect samples","func":"const lines = context.get('lines') || [];\nlines.push(msg.payload);\nif (msg.eof) {\n    msg.payload = lines.join('\\n');\n    context.set('lines', []);\n    return msg;\n}\ncontext.set('lines', lines);","outputs":1,"noerr":0,"x":960,"y":920,"wires":[["e7f1b082.d35cc8"]]},{"id":"482e92e8.a98bc4","type":"ui_template","z":"1777bb00.010975","group":"a0e3d641.64ac9","name":"Table styles","order":1,"width":0,"height":0,"format":"<style type=\"text/css\">\n    table {\n        width: 100%;\n        border-spacing: 0px;\n        border-collapse: separate;\n    }\n    table tr td {\n        padding: 10px;\n    }\n    table tr * {\n        background: transparent;\n    }\n    table tr td {\n        background: rgba(100,255, 100, 0.2);\n    }\n    table tr:nth-child(2n) td {\n        background: rgba(100,100,100,0.2);\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":190,"y":1000,"wires":[[]]},{"id":"ffbe5cb5.6e78d","type":"function","z":"fbd114ef.b5abb8","name":"Custom layer","func":"const tf = global.get('tf');\nconst layers = tf.layers\nconst addLayer = global.get('addLayer');\naddLayer(msg.modelId, layers.dense({units: 100}));\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":80,"wires":[["47b5e372.35a6fc"]]},{"id":"f5b531ae.8a91d8","type":"function","z":"524deb7f.0b2fbc","name":"feature properties","func":"const records = msg.payload;\nconst featureNames = Object.keys(records[0]);\n\nconst features = featureNames.map(feature => {\n    let type = \"string\";\n    let max, min, avg, distinct;\n    min = max = avg = distinct = null;\n    const exampleVal = records[0][feature];\n    if (!isNaN(parseFloat(exampleVal))) {\n        type = \"number\";\n        const features = records.map(r => r[feature]);\n        max = Math.max(...features);\n        min = Math.min(...features);\n        avg = features.reduce((r, g) => r + g, 0) / features.length;\n        distinct = features.filter((f, i) => features.indexOf(f) === i).length;\n    } else if (exampleVal.match(/[0-9]{2,4}-[0-9]{1,2}-[0-9]{1,2}/g)) {\n        type = \"date\";\n        const features = records.map(r => r[feature]);\n        max = Math.max(...features);\n        min = Math.min(...features);\n        distinct = features.filter((f, i) => features.indexOf(f) === i).length;\n    } else {\n        type = \"string\";\n        const features = records.map(r => r[feature].length);\n        max = Math.max(...features);\n        min = Math.min(...features);\n        avg = features.reduce((r, g) => r + g, 0) / features.length;\n        distinct = features.filter((f, i) => features.indexOf(f) === i).length;\n    }\n    return {\n        name: feature,\n        isLabel: ['species', 'setosa', 'versicolor', 'virginica'].indexOf(feature) > -1,\n        type,\n        max,\n        min,\n        avg,\n        distinct\n    }\n});\nmsg.payload = {\n    features\n};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["8ac98420.3321f8"]],"inputLabels":["store data"],"outputLabels":["store data"]},{"id":"4222e97f.917278","type":"csv","z":"524deb7f.0b2fbc","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":350,"y":80,"wires":[["9d96b0fb.272","f5b531ae.8a91d8"]]},{"id":"8ac98420.3321f8","type":"join","z":"524deb7f.0b2fbc","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":140,"wires":[[]]},{"id":"97a875aa.b008","type":"json","z":"f6d4da8d.2deed8","name":"","property":"payload","action":"","pretty":false,"x":510,"y":120,"wires":[["768d2d24.1ed34c"]]},{"id":"51629325.67fd9c","type":"json","z":"1136490a.a15807","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":100,"wires":[["91fa0c00.4bc688"]]},{"id":"3184cf1b.aad328","type":"link out","z":"f6d4da8d.2deed8","name":"validation stream finnished","links":["9d055531.9d5258"],"x":1495,"y":400,"wires":[]},{"id":"4aa4a6df.6756f8","type":"link out","z":"f6d4da8d.2deed8","name":"train stream finnished","links":["9d055531.9d5258"],"x":1495,"y":280,"wires":[]},{"id":"9d055531.9d5258","type":"link in","z":"f6d4da8d.2deed8","name":"stream finnished","links":["3184cf1b.aad328"],"x":1635,"y":460,"wires":[["1be1dd5c.c6cd8b"]]},{"id":"6b58fb43.5cd0cc","type":"subflow:524deb7f.0b2fbc","z":"6b6290b0.1a853","name":"","env":[],"x":980,"y":140,"wires":[["f99ab84b.5f3","3f11ecb3.baa22c"]]},{"id":"3f11ecb3.baa22c","type":"debug","z":"6b6290b0.1a853","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":120,"wires":[]},{"id":"f99ab84b.5f3","type":"json","z":"6b6290b0.1a853","name":"","property":"payload","action":"","pretty":true,"x":1230,"y":160,"wires":[["7035620f.61e484"]]},{"id":"7035620f.61e484","type":"file","z":"6b6290b0.1a853","name":"","filename":"datasets/iris.meta","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1430,"y":160,"wires":[["42b68b58.f7ca44"]]},{"id":"95a6a970.7a5a3","type":"function","z":"6b6290b0.1a853","name":"iris.data filename","func":"msg.filename = \"datasets/iris.data\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["95150de6.1d79b"]]},{"id":"2df85ce4.e252ec","type":"file in","z":"524deb7f.0b2fbc","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":190,"y":80,"wires":[["4222e97f.917278"]]},{"id":"614b9d0c.1cecd4","type":"subflow:524deb7f.0b2fbc","z":"f6d4da8d.2deed8","name":"","env":[],"x":550,"y":540,"wires":[["793ddfc6.bc43b"]]},{"id":"793ddfc6.bc43b","type":"json","z":"f6d4da8d.2deed8","name":"","property":"payload","action":"","pretty":false,"x":770,"y":540,"wires":[["25cee849.b56d9"]]},{"id":"aa671175.6db1a","type":"file","z":"f6d4da8d.2deed8","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1030,"y":540,"wires":[["c5491b52.26284"]]},{"id":"1be1dd5c.c6cd8b","type":"function","z":"f6d4da8d.2deed8","name":"","func":"const filenameData = msg.payload.filename.split('.');\nconst filenameMeta = filenameData.slice(0, filenameData.length - 1).join('.') + '.meta';\nreturn {\n    filename: msg.payload.filename,\n    filenameMeta: filenameMeta,\n    payload: msg.payload\n};","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["614b9d0c.1cecd4"]]},{"id":"25cee849.b56d9","type":"function","z":"f6d4da8d.2deed8","name":"","func":"const m = { ...msg };\nm.filename = m.filenameMeta;\nreturn m;","outputs":1,"noerr":0,"x":890,"y":540,"wires":[["aa671175.6db1a"]]},{"id":"ea652365.cca22","type":"function","z":"f6d4da8d.2deed8","name":"","func":"msg.payload = msg.payload.join(',');\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["4e0c7f64.dd0c7","3ccadbfa.e6cf74","aa65b2b7.16cf38"]]},{"id":"30f7f3e4.84f204","type":"function","z":"f6d4da8d.2deed8","name":"Shuffle data","func":"setTimeout(() => {\n    node.send(msg);\n}, Math.random() * 999 + 1000 * msg.eof);","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["6a0dc694.30a1e"]]},{"id":"42b68b58.f7ca44","type":"link out","z":"6b6290b0.1a853","name":"","links":["87b44ca.338beb"],"x":1575,"y":160,"wires":[]},{"id":"87b44ca.338beb","type":"link in","z":"1136490a.a15807","name":"Update evaluation dashboard","links":["42b68b58.f7ca44","3d4e2fac.6bc8f8","22eedf66.fa6088"],"x":295,"y":100,"wires":[["87bd8eb0.8cabc"]]},{"id":"3d4e2fac.6bc8f8","type":"link out","z":"e3e29167.088cf8","name":"Done processing dataset!","links":["87b44ca.338beb"],"x":1235,"y":20,"wires":[]},{"id":"fec59e5e.ce8938","type":"function","z":"e3e29167.088cf8","name":"Remove payload","func":"\nreturn {};","outputs":1,"noerr":0,"x":1050,"y":20,"wires":[["3d4e2fac.6bc8f8"]]},{"id":"22eedf66.fa6088","type":"link out","z":"e3e29167.088cf8","name":"Done training the model","links":["87b44ca.338beb"],"x":575,"y":460,"wires":[]},{"id":"6217e4fd.d76f2c","type":"ui_template","z":"1777bb00.010975","group":"16e8d9be.b05f96","name":"Feature statistics","order":1,"width":"14","height":"6","format":"<table>\n    <tr>\n      <td ng-repeat=\"(attr, val) in msg.payload.features[0]\">\n        {{attr}}\n      </td>\n    </tr>\n    <tr ng-repeat=\"feature in msg.payload.features\">\n      <td ng-repeat=\"(attr, val) in feature\">\n        {{val}}\n      </td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":800,"wires":[[]]},{"id":"fcbeeab3.6858e8","type":"ui_template","z":"1777bb00.010975","group":"16e8d9be.b05f96","name":"Label statistics","order":1,"width":"14","height":"6","format":"<div>\n    {{msg.payload.labels}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":600,"y":840,"wires":[[]]},{"id":"b0245d46.3e9d4","type":"ui_chart","z":"1777bb00.010975","name":"","group":"16e8d9be.b05f96","order":1,"width":"14","height":"6","label":"Label count","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":880,"wires":[[]]},{"id":"52db8b58.153f74","type":"function","z":"1777bb00.010975","name":"","func":"const labelKeys = Object.keys(msg.payload.labels).map(l => [l]);\nconst labelCounts = Object.values(msg.payload.labels).map(v => v);\nmsg.payload = [\n    {\n        \"series\": [msg.dataset],\n        \"data\": labelCounts,\n        \"labels\": labelKeys\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":880,"wires":[["7687a008.68314","b0245d46.3e9d4"]]},{"id":"7687a008.68314","type":"debug","z":"1777bb00.010975","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":840,"wires":[]},{"id":"714b0ba9.632f4c","type":"file in","z":"1136490a.a15807","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":810,"y":280,"wires":[["ca2f6e2a.048068"]]},{"id":"ca2f6e2a.048068","type":"json","z":"1136490a.a15807","name":"","property":"payload","action":"","pretty":false,"x":950,"y":280,"wires":[["82c8b32a.2f4e5"]]},{"id":"ed93d16e.a75cf8","type":"function","z":"1136490a.a15807","name":"","func":"const dataset = msg.dataset.split('.');\nmsg.filename = dataset.slice(0, dataset.length - 1).join('.') + '.meta';\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":280,"wires":[["714b0ba9.632f4c"]]},{"id":"3c9c46f.d74c5ba","type":"debug","z":"1777bb00.010975","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":620,"wires":[]},{"id":"82c8b32a.2f4e5","type":"function","z":"1136490a.a15807","name":"","func":"const dataset = msg.dataset.split('.');\nmsg.payload.dataset = msg.dataset;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":280,"wires":[["34c1c110.053d2e"]]}]